<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ori</title>
</head>
<body>
    <table cellspacing="20">
        <tbody>
            <tr>
                <td>
                    <img src="/static/giphy.gif" alt="Bowing duck">
                </td>
                <td>
                    <h1>Ori Shahar</h1>
                    <p>
                        <em>
                            Very smart person @Home
                        </em>
                    </p>
                    <p>I am an aspiring programmer who wishes to find his calling in life 🤩</p>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Achievements</h3>
    <ul>
        <li>
            Angela Yu's 100 Days of Python programming course completed
        </li>
        <li>
            Built an app that successfully suggests food recipes based on simplistic guiding questions
        </li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
        <thead>
            <tr>
                <th>Dates</th>
                <th>Work</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2016-2021</td>
                <td>B.Sc. in Biomedical Engineering at the Technion - Israel Institute of Technology</td>
            </tr>
            <tr>
                <td>2021-2024</td>
                <td>Application Engineer at Applied Spectral Imaging (ASI)</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
        <tbody>
            <tr>
                <td>Python</td>
                <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
                <td>Web Development</td>
                <td>⭐⭐⭐</td>
            </tr>
            <tr>
                <td>Programming</td>
                <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
                <td>Computer Hardware/IT</td>
                <td>⭐⭐⭐⭐⭐</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a href="">My Hobbies</a>
    <a href="">Contact Me</a>
</body>
</html>